{% extends 'main/base.html' %}
{% load static %}
{% block title1 %}
    Список сотрудников
{% endblock %}

{% block title %}
    Список сотрудников
{% endblock %}



{% block content %}
    <!-- Exportable Table -->
    <div id="myModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0">Добавление сотрудника</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span>{{ error }}</span>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}

{#                        'model', 'Date_purchase', 'Date_end_warranty', 'invent_number', 'worker', 'group', 'type', 'status'#}

                        <button type="submit" class="btn btn-primary">Добавить сотрудника</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{#<div class="row">#}
        <div class="col-12">
            <div class="card m-b-20">
                <div class="card-body">

                    <h4 class="mt-0 header-title">СОТРУДНИКИ</h4>

                    <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap "
                           style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <button class="btn btn-success  buttons-html5 " tabindex="0"
                                aria-controls="datatable-buttons" type="button" data-toggle="modal"
                                data-target="#myModal"><span>Добавить сотрудника</span></button>
                        <thead>
                        <tr>
                            <th>ФИО</th>
                            <th>Отдел</th>
                            <th>E-mail</th>
                            <th>Телефон</th>
                            <th class="not-export-column">Действия</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>ФИО</th>
                            <th>Отдел</th>
                            <th>E-mail</th>
                            <th>Телефон</th>
                            <th class="not-export-column">Действия</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for u in Usr %}
                        <tr>
                            <td>{{ u.name }}</td>
                            <td>{{ u.department }}</td>
                            <td>{{ u.email }}</td>
                            <td>{{ u.number }}</td>
                            <td>
                                    <div>
                                        <a href="{% url 'user-detale' u.id %}" class="btn btn-primary text-light">
                                        Изменить
                                        </a>
                                        <a  href="{% url 'deleteUser' u.id %}" class="btn btn-danger text-light">
                                        Удалить
                                        </a>
                                    </div>
                                </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Exportable Table -->
{% endblock %}